* {
  margin: 0px;
  padding: 0px;
}

body,
i,
b,
div,
section,
article,
u,
s,
em,
strong,
span {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * CSS Theme - POLÍCIA RHC 2.1 ;
 * @author: Luiz~ (luuuiiiz.) [http://ajuda.forumeiros.com/u60563] 
 * @author: luan13.09 | Kroton
 * Licence Apache 2.0
 */

/**
 * Topo da página.
 */

/*Correção anúncios:*/
div#main-content > div:first-child {
  overflow: hidden!important;
}

.headerbar {
  background-image: url(http://i.imgur.com/prv59kr.png);
  transition: all linear 150ms;
}

.headerbar:hover {
  background-position: 0px -61px;
}

a#logo {
  position: absolute;
  top: 50px;
  right: 50px;
}

div#site-title h1 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 10px;
}

div#site-desc {
  background-color: rgba(0, 0, 0, 0.17);
  padding: 25px 80px 25px 25px;
}

div#site-title + p {
  font-size: 19px;
}

a.mainmenu[href*="calendar"],
a.mainmenu[href*="faq"],
a.mainmenu[href*="search"],
.search-box {
  display: none!important;
}

a.mainmenu {
  font-size: 15px;
}

div#headerbar-top.is-sticky {
  background-color: #39c!important;
}





/**
 * Tópicos, Categorias, etc.
 */

.forabg,
.forumbg,
.module .h3 {
  background-color: #39c;
  color: #fff;
}

.forabg.hidden,
.forumbg.hidden {
  background-color: #6ab4da;
}

.postprofile blockquote {
  background-color: transparent;
  border: none;
  background: none!important;
  background-image: none!important;
}

.postprofile blockquote:before {
  display: none!important;
  content: ""!important;
}

.postprofile blockquote img {
  float: left;
  display: inline-block;
  border: solid 1px #efefef;
  background: #d8d8d8;
  border-radius: 3px;
  margin: 5px;
  padding: 4px;
  box-shadow: inset 0px 3px #cacaca;
}

.postprofile blockquote br {
  display: none!important;
  position: absolute;
  top: -999px;
  left: -999px;
  transform: scale(0)!important;
}

div.postprofile {
  min-width: 21%;
  border-right: dashed 1px #ddd;
  text-align: center;
  overflow: hidden;
  z-index: 77;
}

.postprofile > dl > dd.postprofile-info > span:nth-child(1) {
  display: none;
}


.postprofile-rank {
  margin: 0px -25px;
  border-bottom: dashed 1px #ddd;
  padding-top: 19px;
}

.post-head {
  background-color: #ddd;
  border-bottom: solid 3px #ccc;
  z-index: 999;
}

.postbody {
  margin-left: 20%;
  padding: 35px!important;
}

.postprofile-contact a {
  float: none;
  display: inline-block;
}

dd.postprofile-info {
  margin-top: 15px;
}

div#page-footer:after {
  content: 'Fórum feito por Luiz~ (luuuiiiz.) e por Kroton. Todos os direitos reservados.'!important;
  color: #fff;
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 25px;
  font-weight: 400;
}

.button, .button1, .button2, input[type="submit"] {
  background-color: #39c;
}

.button1:hover, .button2:hover, .button:hover, input[type="submit"]:hover {
  background-color: #444!important;
}

li.btn-thank,
li.btn-quote-multi,
li.btn-ip,
li.btn-report,
.vote {
  display: none!important;
}

.online:before {
  content: ''!important;
  display: none;
}

#fa_ticker_block .module {
  background-color: #39c;
  color: #fff!important;
}

#fa_ticker_block .module * {
  color: #fff;
}

.h3 {
  border-bottom-color: #39c;
  color: #3391bf!important;
}

.h3 * {
  color: #3391bf!important;
}

.block-footer {
  background-color: #f3f3f3;
}

.module .h3,
.module .h3 *{
  color: #fff!important;
}
